<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somworld.seller_ui" >

    <application
            android:name=".SellerApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.DashBoard"
            android:label="@string/dash_board" >
        </activity>
        <activity
            android:name=".views.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginOrRegisterSelectionActivity"
            android:label="@string/title_activity_login_or_register_selection" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".views.RegisterActivity1"
            android:label="@string/title_activity_seller_registration" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LocationFinderActivity"
            android:label="@string/title_activity_location" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.UpdateOffer"
            android:label="@string/title_activity_update_offer"
            android:parentActivityName=".views.DashBoard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.somworld.seller_ui.views.DashBoard" />
        </activity>
        <activity
            android:name=".views.CreateOffer"
            android:label="@string/title_activity_create_offer"
            android:parentActivityName=".views.DashBoard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.somworld.seller_ui.views.DashBoard" />
        </activity>
        <activity
            android:name=".views.sellerProfile"
            android:label="@string/title_activity_seller_profile" >
        </activity>
        <activity
            android:theme="@style/activity_as_popup"
            android:name=".views.common.NoInternetConnectionActivity"
            >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
