<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somworld.seller_ui" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.DashBoard"
            android:label="@string/dash_board" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.UpdateOffer"
            android:label="@string/title_activity_update_offer"
            android:parentActivityName=".views.DashBoard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.somworld.seller_ui.views.DashBoard" />
        </activity>
        <activity
            android:name=".views.CreateOffer"
            android:label="@string/title_activity_create_offer"
            android:parentActivityName=".views.DashBoard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.somworld.seller_ui.views.DashBoard" />
        </activity>
        <activity
            android:name=".views.sellerProfile"
            android:label="@string/title_activity_seller_profile" >
        </activity>
    </application>

</manifest>
